/AVALIACAO_01/DCUS/*.dcu
/AVALIACAO_01/SRC/__history
/AVALIACAO_01/__history
/AVALIACAO_02/__history
/AVALIACAO_02/src/__history
/AVALIACAO_01/BIN/*.exe
/AVALIACAO_01/SRC/*.local
/AVALIACAO_01/SRC/*.identcache
/AVALIACAO_01/SRC/*.res
/AVALIACAO_02/dcus/*.dcu
/*.pdf
/AVALIACAO_02/src/*.local
/AVALIACAO_02/src/*.identcache
/AVALIACAO_02/bin/*.exe
/AVALIACAO_02/src/*.res
